control--MwcDialog {
    color: #3600C9;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;

    background-color: white
}

control--MwcLabel {
    color: #3600C9;
}

control--MwcLabel::disabled {
    color: #E2CCF7;
}

control--MwcLineEdit {
    color: #3600C9;

    border: 2px solid #E2CCF7;
    background: transparent;
    selection-background-color: #cc9afb;
}

control--MwcLineEdit::disabled {
    color: #E2CCF7;
}

control--MwcLineEdit:enabled:!focus::hover
{
    border: 2px solid #cc9afb;
}

control--MwcLineEdit:focus {
    border: 2px solid #9e39ff;
}

control--MwcLineEditDlg {
    color: #7755ff;
    background: transparent;
    border: none;
    font-size: 15px;
}

control--MwcLineEditDlg:!enabled {
    border: none;
}

control--MwcLineEditDlg:disabled {
    border: none;
}

control--MwcLineEditDlg:enabled:!focus::hover {
    border: none;
}

control--MwcLineEditDlg:focus {
    border: none;
}

control--MwcTextEdit {
    color: #3600C9;

    border: 2px solid #E2CCF7;
    background: transparent;
    selection-background-color: #cc9afb;
}

control--MwcTextEdit::disabled {
    color: #E2CCF7;
}

control--MwcTextEdit:focus {
    border: 2px solid #9e39ff;
}

control--MwcTextEdit:enabled:!focus::hover
{
    border: 2px solid #cc9afb;
}

control--MwcTextBrowser {
    border: 2px solid #E2CCF7;
    background:  white;
}

control--MwcTextBrowser:focus {
    border: 2px solid #9e39ff;
}

control--MwcTextBrowser:enabled:!focus::hover
{
    border: 2px solid #cc9afb;
}


control--MwcPushButton
{
    color: #3600C9;

    border: 2px solid #3600C9;
    border-radius: 6px;
    background: transparent;
}

control--MwcPushButton:enabled:!focus::hover
{
    background: #cea1e3;
}

control--MwcPushButton:focus {
    background: #B468DE;
    color: white;
    border: 2px solid #9E00E7;
}

control--MwcPushButton:disabled {
    border: 2px solid lightgrey;
    color: lightgrey;
}

control--MwcPushButton:pressed {
    background: #AF4FE3;
}

control--MwcPushButtonRound {
    font-size: 15px;
    border-radius: 18px;
    border: none;
}

/* ----------- Frame with a white border -----------------*/

control--MwcFrameWithBorder {
    background: transparent;
    border: 2px solid #3600C9;
    border-radius: 6px;
}

/* ----------  control--MwcRadioButton  ------------*/
control--MwcRadioButton {
    color: #3600C9;
}

control--MwcRadioButton::indicator:unchecked {
    image: url(:/img/purpRadioOff@2x.svg);
}

control--MwcRadioButton::indicator:checked {
    image: url(:/img/purpRadioOn@2x.svg);
}


/* ------------ ListWithColumns ----------------- */

ListWithColumns
{
    color: #3600C9;
    border: 2px solid #E2CCF7;
    background: transparent;
}

ListWithColumns::hover
{
    border: 2px solid #cc9afb;
}

ListWithColumns:focus {
    border: 2px solid #9e39ff;
}

ListWithColumns::item
{
    color: #3600C9;
}

ListWithColumns::item:selected
{
    background-color: #E2CCF7;
}
/* header for table view */

control--MwcHeaderView::section {
    background-color: transparent;

    color: #6F00D6;

    border: none;
    border-bottom: 1px solid #9a55d9;
    border-right: 1px solid #ae7cdd;
}

/* -------- Navigation buttons ------------- */


/* ---------  QToolTip   ------- */
QToolTip {
    color: #6F00D6;
    font-size: 13px;

    border: 1px solid #9759d0;
    border-radius: 3px;
    padding: 1px;
    background: #cebae1;
}

/* ------------------ Scroll bars ------------------------ */
control--MwcScrollBar {
    border: 1px solid  rgba(111, 0, 214, 0.15);
    background: transparent;
    margin: 0 0 0 0;
}

control--MwcScrollBar:vertical {
    width: 15px;
}

control--MwcScrollBar:horizontal {
    height: 15px;
}

control--MwcScrollBar::handle:vertical, control--MwcScrollBar::handle:horizontal {
    background: rgba(111, 0, 214, 0.15);
    min-height: 20px;
    border: transparent;
    border-radius: 9px;
}
control--MwcScrollBar::add-line:vertical, control--MwcScrollBar::sub-line:vertical ,control--MwcScrollBar::add-line:horizontal, control--MwcScrollBar::sub-line:horizontal {
    border: none;
    background: none;
    height: 0px;
}

control--MwcScrollBar::up-arrow:vertical, control--MwcScrollBar::down-arrow:vertical, control--MwcScrollBar::up-arrow:horizontal, control--MwcScrollBar::down-arrow:horizontal {
    border: none;
    background: none;
}

control--MwcTextEdit::corner,
control--MwcPlainTextEdit::corner,
control--MwcTextBrowser::corner,
control--MwcListView::corner {
    background: transparent;
}

/* ------------------------------ */
control--MwcPlainTextEdit {
    color: #3600C9;

    border: 2px solid #E2CCF7;
    background: transparent;
    selection-background-color: #cc9afb;
    selection-color: #3600C9;
}

/* By some reasons Windows needs that for placeholder */
control--MwcPlainTextEdit[text=""] {
    color: #3600C9;
}

control--MwcPlainTextEdit:enabled:!focus::hover
{
    border: 2px solid #cc9afb;
}

control--MwcPlainTextEdit:focus {
    border: 2px solid #9e39ff;
}

control--MwcPlainEditLogs {
    font-size: 12px;
    border-radius: 4px;
    padding: 1px;
    border: transparent;
    background: transparent;
}

control--MwcTextEditDlg {
    font-size: 15px;
    border-radius: 6px;
    padding: 8px;
    border: transparent;
    background: transparent;
}

control--MwcPlainEditLogs:focus {
    border: transparent;
    background: transparent;
}

control--MwcTextEditDlg:focus {
    border: transparent;
    background: transparent;
}

control--MwcTextEditDlg:enabled:!focus::hover
{
    border: transparent;
}

/* ------------------------------ */
control--MwcLine {
    background: #cc9afb;
    border: transparent;
}

/* ------------  MwcComboBox ------- */

control--MwcComboBox
{
    border: transparent;
    border-radius: 6px;
    padding: 0px 1px 0px 20px;
    combobox-popup: 0;

    border: 2px solid #E2CCF7;
    background: transparent;
    selection-background-color: #cc9afb;

    color: #3600C9;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;

    subcontrol-origin: padding;
    subcontrol-position: bottom right;
}

control--MwcComboBox:enabled:!focus::hover
{
    border: 2px solid #cc9afb;
}

control--MwcComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: bottom right;
    width: 30px;

    background: transparent;
    border: transparent;
    image: url(:/img/ComboBoxArrowDlg@2x.svg);

    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

control--MwcListView {
    color: #6F00D6;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;

    border: 2px solid #9e39ff;
    border-radius: 4px;
    background: white;

    selection-color: #6F00D6;
    selection-background-color: white;

    font-size: 15px;
    /*padding: 5px;*/

    padding: 5px 5px 5px 10px;
}

control--MwcListView::item {
    height: 15px;
    padding: 10px;
}

/* ---------  control--MwcCheckBox  ------- */

control--MwcCheckBox {
    color: #3600C9;
}

control--MwcCheckBox::disabled {
    color: #E2CCF7;
}

control--MwcCheckBox::indicator:unchecked {
    image: url(:/img/purpleCheckOff@2x.svg);
}

control--MwcCheckBox::indicator:checked {
    image: url(:/img/purpleCheckOn@2x.svg);
}

control--MwcCheckBox::indicator:disabled:unchecked {
    image: url(:/img/disabledCheckOff@2x.svg);
}

control--MwcCheckBox::indicator:disabled:checked {
    image: url(:/img/disabledCheckOn@2x.svg);
}

/* popup for completer. NOTE. completer doesn't pick it up, for completer it is setup manually */
control--MwcListView {
    color: #6F00D6;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;

    border: transparent;
    background: white;

    selection-color: #6F00D6;
    selection-background-color: #cc9afb;

    font-size: 15px;
}

control--MwcListView::item {
    height: 30px;
    padding: 10px;
}
