.vs/
.vscode/
.idea/
CMakeFiles/
out/
VS/
mwc-qt-wallet_autogen
cmake_install.cmake
CMakeCache.txt
Makefile
mwc-qt-wallet
mwc713
QtCore
QtGui
QtNetwork
QtWidgets
ui_*.h

.qmake.stash
CMakeSettings.json
mwc-qt-wallet.pro.user
mwc-qt-mobile.pro.user
