.vs/
.vscode/
.idea/
CMakeFiles/
out/
VS/
mwc-qt-wallet_autogen
cmake_install.cmake
CMakeCache.txt
Makefile
mwc-qt-wallet
mwc713
QtCore
QtGui
QtNetwork
QtWidgets
ui_*.h
mwc
mwczip
tor

.qmake.stash
CMakeSettings.json
*.pro.user

.gradle
android.iml
local.properties
