QDialog {
    color: #3600C9;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;

    background-color: white
}

QLabel {
    color: #3600C9;
}

QLineEdit {
    color: #3600C9;

    border: 2px solid #E2CCF7;
    background: transparent;
    selection-background-color: #cc9afb;
}

QLineEdit:enabled:!focus::hover
{
    border: 2px solid #cc9afb;
}

QLineEdit:focus {
    border: 2px solid #9e39ff;
}

QTextEdit {
    color: #3600C9;

    border: 2px solid #E2CCF7;
    background: transparent;
    selection-background-color: #cc9afb;
}

QTextEdit:focus {
    border: 2px solid #9e39ff;
}

QTextEdit:enabled:!focus::hover
{
    border: 2px solid #cc9afb;
}

QTextBrowser {
    border: 2px solid #E2CCF7;
    background:  white;
}

QTextBrowser:focus {
    border: 2px solid #9e39ff;
}

QTextBrowser:enabled:!focus::hover
{
    border: 2px solid #cc9afb;
}


QPushButton
{
    color: #6F00D6;

    border: 2px solid #6F00D6;
    border-radius: 6px;
    background: transparent;
}

QPushButton:enabled:!focus::hover
{
    background: #cea1e3;
}

QPushButton:focus {
    background: #9E00E7;
    color: white;
    border: 2px solid #9E00E7;
}

QPushButton:disabled {
    border: 2px solid lightgrey;
    color: lightgrey;
}

QPushButton:pressed {
    background: #8500c3;
}

control--MwcPushButtonRound {
    font-size: 15px;
    border-radius: 18px;
    border: none;
}

/* ----------- Frame with a white border -----------------*/

MwcFrameWithBorder {
    background: transparent;
    border: 2px solid #6F00D6;
    border-radius: 6px;
}

/* ----------  QRadioButton  ------------*/
QRadioButton {
    color: #6F00D6;
}

QRadioButton::indicator:unchecked {
    image: url(:/img/purpRadioOff.svg);
}

QRadioButton::indicator:checked {
    image: url(:/img/purpRadioOn.svg);
}


/* ------------ ListWithColumns ----------------- */

ListWithColumns
{
    color: #6F00D6;
    border: 2px solid #E2CCF7;
    background: transparent;
}

ListWithColumns::hover
{
    border: 2px solid #cc9afb;
}

ListWithColumns:focus {
    border: 2px solid #9e39ff;
}

ListWithColumns::item
{
    color: #6F00D6;
}

ListWithColumns::item:selected
{
    background-color: #E2CCF7;
}
/* header for table view */

QHeaderView::section {
    background-color: transparent;

    color: #6F00D6;

    border: none;
    border-bottom: 1px solid #9a55d9;
    border-right: 1px solid #ae7cdd;
}

/* -------- Navigation buttons ------------- */


/* ---------  QToolTip   ------- */
QToolTip {
    color: #6F00D6;

    border: 1px solid #9759d0;
    border-radius: 3px;
    padding: 1px;
    background: #cebae1;
}

/* ------------------ Scroll bars ------------------------ */
QScrollBar {
    border: 1px solid  rgba(111, 0, 214, 0.15);
    background: transparent;
    margin: 0 0 0 0;
}

QScrollBar:vertical {
    width: 15px;
}

QScrollBar:horizontal {
    height: 15px;
}

QScrollBar::handle:vertical, QScrollBar::handle:horizontal {
    background: rgba(111, 0, 214, 0.15);
    min-height: 20px;
    border: transparent;
    border-radius: 9px;
}
QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical ,QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal {
    border: none;
    background: none;
    height: 0px;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical, QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal {
    border: none;
    background: none;
}

QAbstractScrollArea::corner {
    background: transparent;
}

/* ------------------------------ */
QPlainTextEdit {
    color: #3600C9;

    border: 2px solid #E2CCF7;
    background: transparent;
    selection-background-color: #cc9afb;
    selection-color: #3600C9;
}

/* By some reasons Windows needs that for placeholder */
QPlainTextEdit[text=""] {
    color: #3600C9;
}

QPlainTextEdit:enabled:!focus::hover
{
    border: 2px solid #cc9afb;
}

QPlainTextEdit:focus {
    border: 2px solid #9e39ff;
}

control--MwcPlainEditLogs {
    font-size: 12px;
    border-radius: 4px;
    padding: 1px;
    border: transparent;
    background: transparent;
}

control--MwcTextEditDlg {
    font-size: 15px;
    border-radius: 6px;
    padding: 8px;
    border: transparent;
    background: transparent;
}

control--MwcPlainEditLogs:focus {
    border: transparent;
    background: transparent;
}

control--MwcTextEditDlg:focus {
    border: transparent;
    background: transparent;
}

control--MwcTextEditDlg:enabled:!focus::hover
{
    border: transparent;
}

/* ------------------------------ */
control--MwcLine {
    background: #cc9afb;
    border: transparent;
}

/* ------------  MwcComboBox ------- */

control--MwcComboBox
{
    border: transparent;
    border-radius: 6px;
    padding: 0px 1px 0px 20px;

    border: 2px solid #E2CCF7;
    background: transparent;
    selection-background-color: #cc9afb;

    color: #3600C9;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;

    subcontrol-origin: padding;
    subcontrol-position: bottom right;
}

control--MwcComboBox:enabled:!focus::hover
{
    border: 2px solid #cc9afb;
}

control--MwcComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: bottom right;
    width: 30px;

    background: transparent;
    border: transparent;

    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

control--MwcComboBox::down-arrow {
    image: url(:/img/ComboBoxArrowDlg.svg);
    border: transparent;
}

QListView {
    color: #6F00D6;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;

    border: #cc9afb;
    background: white;

    selection-color: #6F00D6;
    selection-background-color: white;

    font-size: 15px;
    /*padding: 5px;*/
}

QListView::item {
    /*  color: white;*/
    height: 30px;
    padding: 10px;
}
