core--MainWindow {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,
                                      stop: 0 #9E00E7, stop: 0.2 #9E00E7, stop: 0.9 #3600C9, stop: 1 #3600C9);
}

core--MwcToolbar {
    background-color: #6F00D6;
}

control--MwcFrameWithBorder {
    border: 2px solid #FFFFFF;
    border-radius: 6px;
    background: transparent;
}

QStatusBar {
    background-color: qlineargradient(x1: 1, y1: 0, x2: 1, y2: 0,
                                  stop: 0 #6F00D6, stop: 0.3 #6F00D6, stop: 0.9 #9E00E7, stop: 1 #9E00E7);

    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}

/* MWC tool bar buttons */
QToolButton {
    border: none;
    background-color: #6F00D6;
    border-radius: 6px;

    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;

    padding: 5px;
}

QToolButton:selected {
    background-color: #5300CF;
}

QToolButton:pressed {
    background-color: #5300CF;
}

QToolButton:checked {
    background-color: #5800dd;
}

QToolButton::disabled {
    background-color: #E2CCF7;
}

/*QDialog {
    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;

    background-color: white
}*/

QLabel {
    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
}

control--MwcLabelTiny {
    font-size: 9px;
}
control--MwcLabelSmall {
    font-size: 12px;
}
control--MwcLabelNormal {
    font-size: 15px;
}
control--MwcLabelLarge {
    font-size: 21px;
}

/* popup for completer */
QListView {
    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;

    border: transparent;
    background: #6F00D6;
    /*background: #9E00E7;*/

    selection-color: white;
    selection-background-color: #3600C9;

    font-size: 15px;
    /*padding: 5px;*/
}

QListView::item {
/*  color: white;*/
  height: 30px;
  padding: 10px;
}

QLineEdit {
    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;

    border: transparent;
    background: rgba(255, 255, 255, 0.2);
    selection-background-color: rgba(255, 255, 255, 0.3);
}

control--MwcLineEditNormal {
    font-size: 15px;
    border-radius: 6px;
    padding: 8px;
}

QLineEdit:focus {
    border: 2px solid #CCFF33;
    background: rgba(255, 255, 255, 0.15);
}

QTextEdit {
    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;

    border: transparent;
    background: rgba(255, 255, 255, 0.2);
    selection-background-color: rgba(255, 255, 255, 0.3);

    font-size: 18px;
    border-radius: 6px;
    padding: 10px 6px 10px 15px;
}

QPushButton
{
    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;

    border: 2px solid #FFFFFF;
    border-radius: 6px;
    background: transparent;
}

control--MwcPushButtonNormal {
    font-size: 15px;
}

control--MwcPushButtonSmall {
    font-size: 12px;
}

control--MwcPushButtonTiny {
    font-size: 10px;
}

control--MwcPushButtonTinyUnderline {
    font-size: 12px;
    text-decoration: underline;
    border: none;
}

QPushButton:focus {
    background: #FFFFFF;
    color: #6F00D6;
}

QPushButton:disabled {
    border: 2px solid gray;
    color: gray;
}

QPushButton:pressed {
    background: rgba(255, 255, 255, 0.3);
}

/* ------------------ Scroll bars ------------------------ */
QScrollBar {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    margin: 0 0 0 0;
}

QScrollBar:vertical {
    width: 15px;
}

QScrollBar:horizontal {
    height: 15px;
}

QScrollBar::handle:vertical, QScrollBar::handle:horizontal {
    background: rgba(255, 255, 255, 0.2);
    min-height: 20px;
    border: transparent;
    border-radius: 9px;
}
QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical ,QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal {
    border: none;
    background: none;
    height: 0px;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical, QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal {
    border: none;
    background: none;
}

QAbstractScrollArea::corner {
    background: transparent;
}

/* -------------- Progress bar ---------------- */
QProgressBar {
    border: 2px solid white;
    border-radius: 6px;
    background: white;
}

QProgressBar::chunk {
    background-color: #6F00D6;
    width: 1px;
}

/* ----------- Frame with a white border -----------------*/

MwcFrameWithBorder {
    background: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 6px;
}

/* ------------  QComboBox ------- */

QComboBox
{
   border: transparent;
   border-radius: 6px;
   padding: 0px 1px 0px 20px;

    background-color: rgba(255, 255, 255, 0.2);
    selection-background-color: rgba(255, 255, 255, 0.3);
    selection-color: yellow;

    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;

    subcontrol-origin: padding;
    subcontrol-position: top right;

/*    border-style: solid;
    border: 1px solid #1e1e1e;
    border-radius: 5;
    padding: 1px 0px 1px 20px;*/
}


QComboBox:on
{
    padding-top: 0px;
    padding-left: 0px;
    color: white;
    selection-background-color: rgba(255, 255, 255, 0.5);
}

QComboBox:!on
{
    color: white;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: bottom right;
    width: 30px;

    background: transparent; /*  rgba(255, 255, 255, 0.25);*/
    border: transparent;

/*    border-left-width: 1px;*/
/*    border-left-color: darkgray;*/
/*    border-left-style: solid;*/ /* just a single line */
    border-top-right-radius: 3px; /* same radius as the QComboBox */
    border-bottom-right-radius: 3px;
}

QComboBox::down-arrow {
    image: url(:/img/ComboBoxArrow.png);
    border: transparent;
}

/* ----------  QRadioButton  ------------*/
QRadioButton {
    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    spacing: 10px;
}

QRadioButton::indicator {
    width: 18px;
    height: 18px;
}

QRadioButton::indicator:unchecked {
    image: url(:/img/RadioOff.png);
}

QRadioButton::indicator:checked {
    image: url(:/img/RadioOn.png);
}

/* ------------ ListWithColumns ----------------- */

ListWithColumns
{
    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;

    border: 2px solid #FFFFFF;
    border-radius: 6px;

    padding: 5px;

    background: transparent; /*rgba(255, 255, 255, 0.05);*/
}

ListWithColumns::hover
{
    background-color: rgba(255, 255, 255, 0.1);
}

ListWithColumns::item
{
    color: white;
}

ListWithColumns::item:selected
{
    background-color: mediumpurple;
}
/* header for table view */
QHeaderView
{
    background: transparent;
}

QHeaderView::section {
    background-color: transparent;

    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;

    border: none;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #aaaaaa;

/*    padding-left: 4px;
    border: 1px solid white;*/
}

/* -------- Navigation buttons ------------- */


control--NavPushButton {

    border: none;
    border-radius: 17px;  /* must match the button size to make it round */
    background: transparent;

    font-size: 12px;

    padding: 5px;
}

control--NavPushButton:focus {
    background: rgba(255, 255, 255, 0.15);
}


control--NavPushButton:pressed {
    background: rgba(255, 255, 255, 0.35);
}

QToolButton:checked {
    background: rgba(255, 255, 255, 0.3);
}



control--NavMenuButton {

    border: none;
    border-radius: 4px;
    background: transparent;

    font-size: 13px;
}

control--NavMenuButton:focus {
    background: rgba(255, 255, 255, 0.15);
}

control--NavMenuButton:pressed {
    background: rgba(255, 255, 255, 0.3);
}

core--NavMenu {
    border: 2px solid #FFFFFF;
    border-radius: 6px;
    background: #3600C9;
}