core--MainWindow {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,
                                      stop: 0 #9E00E7, stop: 0.2 #9E00E7, stop: 0.9 #3600C9, stop: 1 #3600C9);
}

core--MwcToolbar {
    background-color: #6F00D6;
}

QStatusBar {
    background-color: qlineargradient(x1: 1, y1: 0, x2: 1, y2: 0,
                                  stop: 0 #6F00D6, stop: 0.3 #6F00D6, stop: 0.9 #9E00E7, stop: 1 #9E00E7);

    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}

/* MWC tool bar buttons */
QToolButton {
    border: none;
    background-color: #6F00D6;

    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;

    padding: 5px;
}

QToolButton:selected {
    background-color: #5300CF;
}

QToolButton:pressed {
    background-color: #5300CF;
}

QToolButton:checked {
    background-color: white;
}

QToolButton::disabled {
    background-color: #E2CCF7;
}

/*QDialog {
    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;

    background-color: white
}*/

QLabel {
    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
}

control--MwcLabelTiny {
    font-size: 9px;
}
control--MwcLabelSmall {
    font-size: 12px;
}
control--MwcLabelNormal {
    font-size: 15px;
}
control--MwcLabelLarge {
    font-size: 21px;
}

/* popup for completer */
QListView {
    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;

    border: transparent;
    background: #6F00D6;
    /*background: #9E00E7;*/

    selection-color: white;
    selection-background-color: #3600C9;

    font-size: 15px;
    /*padding: 5px;*/
}

QListView::item {
/*  color: white;*/
  height: 30px;
  padding: 10px;
}

QLineEdit {
    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;

    border: transparent;
    background: rgba(255, 255, 255, 0.2);
    selection-background-color: rgba(255, 255, 255, 0.3);
}

control--MwcLineEditNormal {
    font-size: 15px;
    border-radius: 6px;
    padding: 8px;
}

QLineEdit:focus {
    border: 2px solid #CCFF33;
    background: rgba(255, 255, 255, 0.15);
}

QTextEdit {
    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;

    border: transparent;
    background: rgba(255, 255, 255, 0.2);
    selection-background-color: rgba(255, 255, 255, 0.3);

    font-size: 18px;
    border-radius: 6px;
    padding: 16px;
}

QPushButton
{
    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;

    border: 2px solid #FFFFFF;
    border-radius: 6px;
    background: transparent;
}

control--MwcPushButtonNormal {
    font-size: 15px;
}

control--MwcPushButtonSmall {
    font-size: 12px;
}

control--MwcPushButtonTiny {
    font-size: 9px;
}

QPushButton:focus {
    background: #FFFFFF;
    color: #6F00D6;
}

QPushButton:disabled {
    border: 2px solid gray;
    color: gray;
}

/* ------------------ Scroll bars ------------------------ */
QScrollBar:vertical, QScrollBar:horizontal {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    width: 15px;
    margin: 0 0 0 0;
}
QScrollBar::handle:vertical, QScrollBar::handle:horizontal {
    background: rgba(255, 255, 255, 0.2);
    min-height: 20px;
    border: transparent;
    border-radius: 9px;
}
QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical ,QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal {
    border: none;
    background: none;
    height: 0px;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical, QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal {
    border: none;
    background: none;
}

/* -------------- Progress bar ---------------- */
QProgressBar {
    border: 3px solid white;
    border-radius: 20px;
    background: white
}

QProgressBar::chunk {
    background-color: #6F00D6;
    width: 1px;
}

